html{
box-sizing:border-box;
}

*{
margin:0;
padding:0;
box-sizing:inherit;
}

body{
background-color:#fbf9e4;
}

#contenedor{
width:100%;
}

#cabecera{
width:100%;
height:116px;
background:url("../Imagenes/fondo.jpg");
text-align:center;
}

#logo{
float:left;
margin-left:20px;
}

#menu{
width:100%;
height:50px;
background-color:#1a6900;
overflow:hidden;
}

#menu ul{
list-style:none;
}

#menu ul li{
float:left;
border-right:1px solid black;
}

#menu ul li a{
text-decoration:none;
display:block;
line-height:50px;
color:white;
padding:0 0.25em;
}

#menu span{
float:right;
line-height:50px;
color:white;
}

#menu span a{
text-decoration:none;
color:white;
}

#enlace1{
font-size:20px;
}

#centro{
width:100%;
overflow:hidden;
padding:25px 0.5em 0 0.5em;
}

#izquierda{
width:25%;
float:left;
}

#derecha{
overflow:hidden;
}

#pie{
height:50px;
background-color:#1a6900;
margin:25px 10px 1px 10px;
}

.blanco{
background:white;
border-radius:5px;
padding:0.5em;
margin-bottom:20px;
}

.blanco h3{
display:inline;
}

.blanco img{
vertical-align:bottom;
}

#izq form{
border-top:1px solid #ccc;
padding:20px;
}

#usuario, #password{
width:100%;
}

#entrar{
width:19%;
float:left;
margin-right:2%;
color:white;
background:#0fc51a;
padding:0.25em;
}
/*Al ser los dos elementos de línea, ignora el box-sizing*/
#olvidar{
width:79%;
float:left;
color:white;
background:#1a6900;
padding:0.25em;
}


