*{margin:0px;padding:0px;}
body{background-color:#fff173;font-family:sans-serif;padding:0 2%;}
.blanco{background-color:white;padding:0.5% 0;}
/*.blanco, h1, #ultimo{margin:0 2%;}*/
.blanco > div{background-color:#ffc533;width:60%;margin:2% auto;padding:0.5%;}
.amarillo{background-color:#ffda33;margin:0 1%;padding:1.5% 1% 0.5% 1%;}
h3{margin:1% 0%;padding:1%}
.amarillo h3{color:white;margin:0}
.amarillo > div{background-color:#ff7700;margin:1%;padding-bottom:1%; }
.amarillo p{background-color:#ffda33;margin:0 1%;padding:0.5%}