html{
box-sizing:border-box;
}

*{margin:0;
padding:0;
box-sizing:inherit;
}

body{
background-color:#CCC;
font-family:sans-serif;
text-align:center;
}

#contenedor{
width:90%;
margin:0 auto;
}

#cabecera{
background-color:yellow;
font-size:12pt;
}

#centro{
overflow:hidden;
margin:1em 0;
}

#izq{
width:180px;
background-color:red;
float:left;
font-size:10pt;
margin-right:1em;
}

#cen{background-color:green;
overflow:hidden;
font-size:12pt;
text-align:justify;
}

#der{
width:18%;
float:right;
overflow:hidden;
background-color:lightblue;
margin-left:1em;
font-size:10pt;
}

#pie{
background-color:brown;
font-size:8pt;
color:yellow;
}