#lineavertical{
height: 100%;
width: 1px;
border-left: 1px dashed #CCC;
position: absolute;
top: 0;
left: 50%;
}

#lineahorizontal{
height: 1px;
width: 100%;
border-top: 1px dashed #CCC;
position: absolute;
top: 50%;
left: 0;
}

#p1{
text-align: right;
}

#p2{
text-align: center;
}

#cuadradoazul{
	width: 60px;
	height: 60px;
	border: blue solid 2px;
	position: absolute;
	top: 0;
	left: 0;
}

#cuadradoverdeclaro{
	width: 60px;
	height: 60px;
	border: lightgreen solid 2px;
	position: absolute;
	top: 70px;
	left: 100px;
}

#cuadradocelestepequenio{
	width: 60px;
	height: 60px;
	border: cyan solid 2px;
	position: absolute;
	top: 25%;
	right: 25%;
}

#cuadradonaranja{
	width: 60px;
	height: 60px;
	border: orange solid 2px;
	position: absolute;
	bottom: 50%;
	right: 50%;
}

#cuadradorojo{
	width: 60px;
	height: 60px;
	border: red solid 2px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#cuadradorosita{
	width: 60px;
	height: 60px;
	border: pink solid 2px;
	position: absolute;
	top: 50%;
	right: 0;
}

#cuadradoverde{
	width: 60px;
	height: 60px;
	border: green solid 2px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#cuadradocelestegrande{
	width: 400px;
	height: 400px;
	margin-right: -200px;
	margin-top: -200px;
	border: cyan solid 2px;
	position: absolute;
	top: 50%;
	right: 50%;
}