html{
box-sizing:border-box;
}

*{
margin:0;
padding:0;
box-sizing:inherit;
}

body{
padding:1em;
}

h1{
text-transform:uppercase;
text-align:center;
background-color:#CCC;
margin-bottom:0.5em;
}

.bloque{
width:50%;
float:left;
}

fieldset{
padding:0.5em;
background:#CCC;
}

#botones{
clear:both;
text-align:right;
}

.bloque > div{
margin-top:0.5em;
}


div div{
overflow:hidden;
}

div div div{
float:left;
}

label{
display:block;
}

.bloque3{
width:60%;
}


.esp{
width:100%;
}

#domicilio{
width:15%;
float:left;
}

#domicilio2{
width:85%;
float:left;
}

legend{
background-color:white;
}

.roja{
color:red;
text-decoration:underline;
}

legend{
background-color:white;
}
