<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/estilos_hor.css"/>
         <link rel="shortcut icon" href="images/ie.png">
        <title>Formulario</title>
    </head>
    <body>

        <div id ="contenedor">
            <div id ="cabecera">
           	 <h1>Maquetación de un formulario</h1>
            </div>
            <div id ="menu">
                <ul>
                    <li><a href="#">Item uno</a></li>
                    <li><a href="#">Item dos</a></li>
                    <li><a href="#">Item tres</a></li>
                    <li><a href="#">Item cuatro</a></li>
                </ul>
            </div>
            	<div id ="principal">
           		 <div id ="noticias">
               		 <h3>Noticias</h3>
              				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            		</div>
            		<div id = "central">
            			<form action="" method="post" id="formulario">
                    			<h2>Formulario</h2>
                    				<div>
                    					<div>
                    						<label for="nombre" class="izq">Nombre: </label>
                    					</div>
                    					<div>
                    						<input type="text" name="nombre" id="nombre" size="47" class="der"/>
                    					</div>
                    				</div>
                    				<div>
                        				<div>
                        					<label for="email" class="izq">Email: </label>
                        				</div>
                        				<div>
                        					<input type="text" name="email" id="mail" class="der"/>
                        				</div>
                        			</div>
                        			<div>
                        				<div>
                        					<label for="mensaje" class="izq">Mensaje: </label>
                        				</div>
                        				<div>
                        					<textarea id="mensaje" name="mensaje" class="der"></textarea>
                        				</div>
                        			</div>
                    				<div>
                    					<div>
                    						<label for="sexo" class="izq">Sexo: </label>  
                        </div>
                        <div>
                        	<label for="masculino"> Masculino: </label>
                        	<input type="radio" name="" id="masculino" value="masculino"/>
                        	<label for = "femenino"> Femenino: </label>
                        	<input type = "radio" name="" id="femenino" value="femenino"/> 
                        </div>
                    </div>
                    <div>
                        <div>
                        	<label class="izq">Color preferido: </label>
                        </div>
                        <div>
                        	<input type="checkbox" name="rojo" id="rojo"/><label for="rojo"/> Rojo</label> <br/>
                        	<input type="checkbox" name="verde" id="verde"/><label for="verde"/> Verde</label> <br/>
                        	<input type="checkbox" name="azul" id="azul"/><label for="azul"/> Azul</label>
                         </div>
                     </div>
                    <div>
                        <div>
                        	<label for="terminos">Acepto los términos </label>
                        </div>
                        <div>
                       	 <input type="checkbox" name="terminos"/>
                        </div>
                        <div>
                       	 <input type="submit" value="Submit" class="botones"/> 
                       	 <input type="reset" value="Reset" class="botones"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <div id="pie">Contenido exclusivo de <a href="https://maralboran.eu/">Mar de Albor&aacute;n</a></div>
        </div>
    </body>
</html>
