html{
box-sizing:border-box;
}

*{
padding:0;
margin:0;
box-sizing:inherit;
}

h1{
text-transform:uppercase;
text-align:center;
background-color:#DDD;
margin-bottom:0.5em;
}

body{
font-family:sans-serif;
}

legend{
background-color:white;
border:1px solid #DDD;
padding:0 0.3em;
}

fieldset{
background-color:#DDD;
padding:0.5em;
}

.ext > div{
margin-top:0.5em;
}

div div{
overflow:hidden;
}

div div div{
float:left;
}

label{
display:block;
}

#esp{
width:100%;
}

#domicilio{
width:15%;
float:left;
}

#calle{
width:85%;
float:left;
}

.primero{
width:50%;
}

.ext{
width:50%;
float:left;
}

.roja{
color:red;
text-decoration:underline;
}

#botones{
clear:both;
text-align:right;
}
