html{
height:100%;
box-sizing:border-box;
}

body{
height:100%;
}

*{
margin:0;
padding:0;
box-sizing:inherit;
}

#tablero{
width:100%;
height:100%;
}

#tablero > div{
height:33.333333333%;
width:33.333333333%;
border:1px solid black;
float:left;
}

#f22{
overflow:hidden;
position:relative;
}

#centro{
height:0;
width:0;
border-top:16.666666666vh solid red;
border-right:16.666666666vw solid #2699EC;
border-bottom:16.666666666vh solid #FDD211;
border-left: 16.666666666vw solid green;
}

#t1{
width:33.333333333%;
border-top:4.7619847262vh solid white;
border-left:4.7619847262vw solid transparent;
position:absolute;
top:0;
left:1px;
}

#t2{
width:33.333333333%;
border-top:4.7619847262vh solid white;
border-right:4.7619847262vw solid transparent;
position:absolute;
top:0;
right:1px;
}

#t3{
height:33.333333333%;
border-top:4.7619847262vh solid transparent;
border-right:4.7619847262vw solid white;
position:absolute;
top:1px;
right:0;
}

#t4{
height:33.333333333%;
border-bottom:4.7619847262vh solid transparent;
border-right:4.7619847262vw solid white;
position:absolute;
bottom:1px;
right:0;
}

#t5{
width:33.333333333%;
border-bottom:4.7619847262vh solid white;
border-right:4.7619847262vw solid transparent;
position:absolute;
bottom:0;
right:1px;
}

#t6{
width:33.333333333%;
border-bottom:4.7619847262vh solid white;
border-left:4.7619847262vw solid transparent;
position:absolute;
bottom:0;
left:1px;
}

#t7{
height:33.333333333%;
border-bottom:4.7619847262vh solid transparent;
border-left:4.7619847262vw solid white;
position:absolute;
bottom:1px;
left:0;
}

#t8{
height:33.333333333%;
border-top:4.7619847262vh solid transparent;
border-left:4.7619847262vw solid white;
position:absolute;
top:1px;
left:0;
}

#esq1{
height:4.7619847262vh;
width:33.333333333%;
background-color:black;
position:absolute;
top:1px;
left:0;
}

#esq2{
height:4.7619847262vh;
width:33.333333333%;
background-color:black;
position:absolute;
top:1px;
right:0;
}

#esq3{
height:33.333333333%;
width:4.7619847262vw;
background-color:black;
position:absolute;
top:0;
right:1px;
}

#esq4{
height:33.333333333%;
width:4.7619847262vw;
background-color:black;
position:absolute;
bottom:0;
right:1px;
}

#esq5{
height:4.7619847262vh;
width:33.333333333%;
background-color:black;
position:absolute;
bottom:1px;
right:0;
}

#esq6{
height:4.7619847262vh;
width:33.333333333%;
background-color:black;
position:absolute;
bottom:1px;
left:0;
}

#esq7{
height:33.333333333%;
width:4.7619847262vw;
background-color:black;
position:absolute;
bottom:0;
left:1px;
}

#esq8{
height:33.333333333%;
width:4.7619847262vw;
background-color:black;
position:absolute;
top:0;
left:1px;
}

#f11{
background-color:red;
}

#f13{
background-color:#2699EC;
}

#f31{
background-color:green;
}

#f33{
background-color:#FDD211;
}

#f12{
transform:rotate(180deg);
}

#f12 > div{
height:14.285714286%;
width:33.333333333%;
border:1px solid black;
float:left;
}

#f121, #f124, #f127, #f1210, #f1213, #f1216, #f1219{
text-align:right;
}

#f1220{
text-align:center;
background-color:lightgrey;
}

#circulo{
height:4vh;
width:4vw;
position:absolute;
left:43%;
top:87%;
border-radius:50%;
background-color:grey;
}

#centrarnum{
font-size:1.3em;
position:relative;
top:22%;
}

.centrarnumcol{
font-size:1.3em;
position:relative;
top:25%;
right:3%;}

.centrarnumcol2{
font-size:1.3em;
position:relative;
top:25%;
left:3%;
}

#circulo2{
height:4vh;
width:4vw;
position:absolute;
left:10%;
bottom:58.2%;
border-radius:50%;
background-color:grey;
}

#f127{
background-color:lightgrey;
}

#f129{
background-color:red;
}

#circulorojo{
height:4vh;
width:4vw;
position:absolute;
right:10%;
bottom:58.2%;
border-radius:50%;
background-color:#FFA592;
}

#f122, #f125, #f128, #f1211, #f1214, #f1217{
background-color:red;
}



#f21 > div{
width:14.285714286%;
height:33.333333333%;
border:1px solid black;
float:left;
}

#f221, #f224, #f227, #f2210, #f2213, #f2216, #f2219{
text-align:right;
}

#f2220{
text-align:center;
background-color:lightgrey;
}

#circulo212{
height:4vh;
width:4vw;
position:absolute;
left:43%;
top:87%;
border-radius:50%;
background-color:grey;
}

#centrarnum21{
font-size:1.3em;
position:relative;
top:22%;
}

.centrarnumcol21{
font-size:1.3em;
position:relative;
top:25%;
right:3%;}

.centrarnumcol212{
font-size:1.3em;
position:relative;
top:25%;
left:3%;
}

#circulo21{
height:4vh;
width:4vw;
position:absolute;
left:10%;
top:29.8%;
border-radius:50%;
background-color:grey;
}

#f227{
background-color:lightgrey;
}

#f229{
background-color:green;
}

#circuloverde{
height:4vh;
width:4vw;
position:absolute;
right:10%;
bottom:58.2%;
border-radius:50%;
background-color:#A4EB75;
}

#f222, #f225, #f228, #f2211, #f2214, #f2217{
background-color:green;
}

#f23{
transform:rotate(270deg);
}

#f23 > div{
height:14.285714286%;
width:33.333333333%;
border:1px solid black;
float:left;
}

#f321, #f324, #f327, #f3210, #f3213, #f3216, #f3219{
text-align:right;
}

#f3220{
text-align:center;
background-color:lightgrey;
}

#circulo312{
height:4vh;
width:4vw;
position:absolute;
left:43%;
top:87%;
border-radius:50%;
background-color:grey;
}

#centrarnum31{
font-size:1.3em;
position:relative;
top:22%;
}

.centrarnumcol31{
font-size:1.3em;
position:relative;
top:25%;
right:3%;}

.centrarnumcol312{
font-size:1.3em;
position:relative;
top:25%;
left:3%;
}

#circulo31{
height:4vh;
width:4vw;
position:absolute;
left:10%;
top:29.8%;
border-radius:50%;
background-color:grey;
}

#f327{
background-color:lightgrey;
}

#f329{
background-color:#2699EC;
}

#circuloazul{
height:4vh;
width:4vw;
position:absolute;
right:10%;
bottom:58.2%;
border-radius:50%;
background-color:#B0DEFF;
}

#f322, #f325, #f328, #f3211, #f3214, #f3217{
background-color:#2699EC;
}


#f32 > div{
height:14.285714286%;
width:33.333333333%;
border:1px solid black;
float:left;
}

#f421, #f424, #f427, #f4210, #f4213, #f4216, #f4219{
text-align:right;
}

#f4220{
text-align:center;
background-color:lightgrey;
}

#circulo412{
height:4vh;
width:4vw;
position:absolute;
left:48%;
bottom:0.4%;
border-radius:50%;
background-color:grey;
}

#centrarnum41{
font-size:1.3em;
position:relative;
top:22%;
}

.centrarnumcol41{
font-size:1.3em;
position:relative;
top:25%;
right:3%;}

.centrarnumcol412{
font-size:1.3em;
position:relative;
top:25%;
left:3%;
}

#circulo41{
height:4vh;
width:4vw;
position:absolute;
left:37%;
bottom:19.45%;
border-radius:50%;
background-color:grey;
}

#f427{
background-color:lightgrey;
}

#f429{
background-color:#FDD211;
}

#circulamarillo{
height:4vh;
width:4vw;
position:absolute;
right:37%;
bottom:19.45%;
border-radius:50%;
background-color:#FFFEA0;
}

#f422, #f425, #f428, #f4211, #f4214, #f4217{
background-color:#FDD211;
}

