<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Manager de fútbol COMUNIO</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/estilos.css"/>
	</head>
	<body>
		<div id="contenedor">
			<div id="cabecera">
				<img id="logo" src="Imagenes/nombre.jpg" title="logo" alt="logo"/>
				
			</div>
			<div id="menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Jugar</a></li>
					<li><a href="#">Apostar</a></li>
					<li><a href="#">Estadísticas</a></li>
					<li><a href="#">Cómo jugar</a></li>
					<li><a href="#">Tienda Virtual</a></li>
					<li><a href="#">Foro</a></li>
					<li><a href="#">Enlaces</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>
			<div id="centro">
				<div id="login">
					<div id="contnomusuario">
						<div id="nomusuario">
							<label for="usuario">Nombre de usuario:</label></br>
							<label><a href="#">¿Aún no te has registrado?</a></label>
							<div>
								<input type="text" name="usuario" id="usuario"></input>
							</div>
						</div>
					</div>
					<div id="contpassusuario">
						<div id="passusuario">
							<label for="password">Contraseña:</label></br>
							<label><a href="#">¿te has olvidado?</a></label>
							<div>
								<input type="password" name="password" id="password"/></input>
							</div>
						</div>
					</div>
					<div id="contlogin">
						<div id="login">
							<button>>> Login</button>
						</div>
					</div>
				</div>
				<div id="comunio">
					<div id="titulo">
						Comunio.es - El Manager de Fútbol Online
					</div>
					<img src="Imagenes/bg_emotion.jpg" alt="logo" title="logo"/>
				</div>
				<div id="registro">
					<div id="titulo2">
						Regístrate <a id="amarillo">gratis</a>
					</div>
					<div 	
				</div>
				<div id="tendencias">
				
				</div>
				<div id="publi">
				
				</div>
			</div>
			<div id="pie">
			
			</div>
		</div>
	</body>
</html>
