<!DOCTYPE html>
<html lang="es">
	<head>
		<title>I.E.S. MAR DE ALBORÁN</title>
		<meta charset="utf-8"/>
		<link href="css/css.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="contenedor">
			<div id="cabecera">
				<img id="logo" src="Imagenes/logo.jpg" title="logo" alt="logo"/>
				<img src="Imagenes/nombre.jpg" title="nombre" alt="nombre"/>
			</div>
			<div id="menu">
				<ul>
					<li><a id="enlace1" href="#">IES Mar de Alborán</a></li>
					<li><a href="#">Español Internacional (es)</a></li>
				</ul>
				<span>Usted no se ha identificado <a href="#">(Entrar)</a></span>
			</div>
			<div id="centro">
				<div id="izquierda">
					<div class="blanco">
						<img src="Imagenes/usuario.jpg" title="usuario" alt="usuario"/>
						<h3>ENTRAR</h3>
						<form method="post" action="index.html"/>
							<label for="usuario">Nombre Usuario</label><br/>
							<input type="text" name="usuario" id="usuario"/><br/><br/>
							<label for="password">Contraseña</label><br/>
							<input type="password" name="password" id="password"/><br/><br/>
							<input type="checkbox" name="recordar" id="recordar"/>
							<label for="recordar">Recordar nombre de Usuario</label><br/>
							<button id="entrar">Entrar</button><button id="olvidar">¿Olvidaste la contraseña?</button>
						</form>
					</div>
					<div class="blanco">
						<img src="Imagenes/calendario.jpg" title="Calendario" alt="Calendario"/>
						<h3>CALENDARIO</h3>
					</div>
					<div class="blanco">
						<img src="Imagenes/navegacion.jpg" title="Navegación" alt="Navegación"/>
						<h3>NAVEGACIÓN</h3>
					</div>
				</div>
				<div id="derecha">
					<div id="puntos"></div>
					<h2>Cursos</h2>
					<div class="blanco fondo" id="adm">
						<p>Departamento de Administrativo</p>
					</div>
					<div class="blanco fondo" id="bio">
						<p>Departamento de Biología</p>
					</div>
					<div class="blanco fondo" id="cla">
						<p>Departamento de Clásica</p>
					</div>
					<div class="blanco fondo" id="eco">
						<p>Departamento de Economía</p>
					</div>
					<div class="blanco fondo" id="tec">
						<p>Departamento de Tecnología</p>
					</div>
					<div class="blanco fondo" id="rel">
						<p>Departamento de Religión</p>
					</div>
					<div class="blanco fondo" id="moo">
						<p>MOODLE 2.6</p>
					</div>
				</div>
			</div>
			<div id="pie">
			</div>
		<div>
	</body>
</html>
