html{
box-sizing:border-box;
}

*{
margin:0;
padding:0;
box-sizing:inherit;
}

body{
background:url("../Imagenes/fondo.jpg");
}

#contenedor{
width:830px;
margin: 0 auto;
background-color:#185512;
}

#cabecera{
width:100%;
height:95px;
background:url("../Imagenes/cabacera.jpg");
}

#logo{
float:left;
}

#menu{
width:100%;
height:33px;
background:url("../Imagenes/fondo_menu.jpg");
overflow:hidden;
}

#menu ul{
list-style:none;
}

#menu ul li{
float:left;
}

#menu ul li a{
text-decoration:none;
display:block;
line-height:33px;
color:white;
padding:0 0.25em;
font-weight:bold;
}

#menu ul li a:hover{
color:black;
background:#c8dcc1
}

#centro{
width:100%;
}

#login{
margin-top:1em;
width:100%;
background-color:#0f330b;
overflow:hidden;
}

#contnomusuario{
float:left;
margin-left:3%;
width:33%;
}

#nomusuario{
float:left;
width:33%;
margin-left:3%;
}

#contpassusuario{
float:left;
}

#passusuario{
float:left;
}

#contlogin{
margin-left:80%;
}
