html{
box-sizing:border-box;
height:100%;
}

body{
height:100%;
margin:1% 2%;
padding:0;
}

*{
box-sizing:inherit;
}

div{
float:left;
border:1px solid black;
text-align:center;
}

span{
position:relative;
top:30%;
}

.grande{
border:1px lightgrey solid;
float:left;
width:50%;
height:100%;
}

.chico{
font-size:10vh;
float:left;
width:30%;
height:30%;
margin-left:2.5%;
margin-top: 2.5%;
position:relative;
}

#cinco{
display:none;
}

#cinco2{
visibility:hidden;
}
