html{
box-sizing:border-box;
height:100%;
}

body{
height:100%;
margin:0.5% 2%;
padding:0;
}

*{
box-sizing:inherit;
}

div{
float:left;
border:1px solid black;

text-align:center;
}

.num{
position:relative;
top:40%;
}

.grande{
border:1px lightgrey solid;
width:30%;
height:35%;
padding:0%;
margin:1%;

}

.chico{
float:left;
position:relative;
top:1%;
left:2%;
width:30%;
height:30%;
margin:1%;
}

#cinco{
display:none;
}

#cinco2{
visibility:hidden;
}