html{
box-sizing:border-box;
}

*{
padding:0;
margin:0;
box-sizing:inherit;
}

body{
background-color:#CCC;
font-family:Verdana;
text-align:center;
}

#contenedor{
width:90%;
margin:0 auto;
}

#cabecera{
font-size:12pt;
background-color:green;
}

#centro{
height:100%;
margin:1em 0;
overflow:hidden;
}

#izq{
font-size:10pt;
width:300px;
background-color:red;
float:left;
margin-right:1em;
}

#der{
font-size:13pt;
background-color:lightblue;
overflow:hidden;
}

#pie{
font-size:8pt;
background-color:yellow;
}

