<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="Estilos/estilo1.css"  />
		<title>Comunio Inicio</title>
	</head>
	<body>
		<div id="contenedor">
			<div id="cabecera">
			
				<img src="Imagenes/nombre.jpg" />
			
			</div>
			<div id="menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Jugar</a></li>
					<li><a href="#">Apostar</a></li>
					<li><a href="#">Estadísticas</a></li>
					<li><a href="#">Cómo jugar</a></li>
					<li><a href="#">Tienda Virtual</a></li>
					<li><a href="#">Foro</a></li>
					<li><a href="#">Enlaces</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>
			<div id="acceso">
				<form method="post" action="http://www.comunio.es">
					<label for="usuario">Nombre de<br/>usuario:<br/><a href="">¿Aún no te has<br/>registrado?</a></label>
					<input type="text" name="usuario" id="usuario"/>
					<label for="clave">Contraseña:<br/><a href="">¿te has<br/>olvidado?</a></label>
					<input type="password" name="clave" id="clave"/>
					<input type="submit" value=">>Login"/>
				</form>
			
			</div>
			<div id="principal">
				<div id="izq">
					<h4>Comunio.es - El Manager de Fútbol Online</h4>
					<p><img src="Imagenes/bg_emotion.jpg" /></p>
					<h4>Regístrate <span class="amarillo">gratis</span></h4>
					<form method="post" action="http://www.comunio.es">
						<div class="form">
							<label for="nombre">Nombre:*</label>
							<input type="text" name="nombre" id="nombre"/>
						</div>
						<div class="form">
							<label for="apellido">Apellido:</label>
							<input type="text" name="apellido" id="apellido"/>
						</div>
						<div class="form">
							<input type="text" name="usuario" id="usuario"/>
							<label for="usuario">Nombre de usuario:*<br/><span>(máx. 10 caracteres)</span></label>
							
						</div>
						<div class="form">
							<input type="password" name="clave" id="clave"/>
							<label for="clave">Contraseña:*<br/><span>(máx. 8 caracteres)</span></label>
							
						</div>
						<div class="form">
							<label for="clave2">Repita Contraseña:*</label>
							<input type="password" name="clave2" id="clave2"/>
						</div>
						<div class="form">
							<label for="email">Email:*</label>
							<input type="text" name="email" id="email"/>
						</div>
						<div class="form">
							
							<input type="checkbox" name="acepto" id="acepto"/>
							<label for="acepto">He leido los <a href="#">Términos y condiciones</a> y las acepto:*</label>
						</div>
						<div class="form">
							
							<input type="radio" name="unete" id="azar" value="azar"/>
							<label for="azar">Entrar a una comunidad al azar:</label>
						</div>
						<div class="form">
							
							<input type="radio" name="unete" id="existente" value="existente"/>
							<label for="existente">Únete a una comunidad existente:</label>
						</div>
						<div class="form">
							*Campo obligatorio
						</div>
						<div class="form_esp">
							<input type="submit" value="Intenta sin registrarte"/> <input class="verde_claro" type="submit" value="Jugar gratuitamente >>"/>
						</div>
					</form>
					
				</div>
				<div id="der">
					<h4 id="tendencia">Tendencia de las apuestas</h4>
					<p><img src="Imagenes/tendencia.jpg" /></p>
					<p id="publi"><span >- Publicidad -</span></p>
					<p><img class="mitad" src="Imagenes/amazon.jpg" />
					<img  class="mitad" src="Imagenes/g_play.jpg" /></p>
					<p><img class="mitad" src="Imagenes/app_store.jpg" />
					<img class="mitad" src="Imagenes/windows_phone.jpg" /></p>
				</div>
			</div>
			<div id="pie">
				<p class="centrar">
					<a href="#">Su publicidad aquí</a> - <a class="amarillo" href="#">Ayuda</a> - <a href="#">Características</a> - <a href="#">¿Sugerencias, preguntas, deseos o problemas con el Website?</a> - <a href="#">Enlaces</a> - <a href="#">Contacto</a><br/>
					&copy; 2000-2015 comunio.net
				</p>
			</div>
		</div>
	</body>
</html>


