body{
border: 40px solid #FFF173;
}

h1{
position:absolute; 
top:0;
left:40px;
}

#fondo{
}

#id1{
border: 5px solid #FFF173;
}

.encabezado2{
background-color: #FF7700;
}

p{
background-color: #FFDA33;
position: 
}

h3{
margin-left: 20%;
margin-right: 20%;
background-color: #FFC533;
border:solid 10px #FFC533;
}


