html{
box-sizing:border-box;
height:100%;
}

*{
margin:0;
padding:0;
box-sizing:inherit;
}

img{
border:1px red dashed;
height:100px;
}

div{
border:1px black solid;
float:left;
width:30%;
margin-left:2.5%;
margin-top:2.5%;
}

.mover{
float:right;
font-size:1.5em;
margin-top:38px;
}

#ima1{
vertical-align:baseline;
}

#ima2{
vertical-align:sub;
}

#ima3{
vertical-align:super;
}

#ima4{
vertical-align:top;
}

#ima5{
vertical-align:text-top;
}

#ima6{
vertical-align:middle;
}

#ima7{
vertical-align:bottom;
}

#ima8{
vertical-align:text-bottom;
}

#ima9{
vertical-align:1em;
}

#ima10{
vertical-align:-1em;
}

#ima11{
vertical-align:20%;
}

#ima12{
vertical-align:80%;
}


